@model Snap_Bank.ViewModel.QuestionsViewModel

@{
    ViewBag.Title = "Questions";
}
@section AddToHead
{
    <link href="@Url.Content("~/Content/Questions.css")" rel="stylesheet" type="text/css" />
}

<div class="pt-5 wrap-div">
    <div class="card border-0 shadow main-card">
        <div class="card-body">
            <div class="text-center mb-5 mt-5">
                <h2>Security Questions</h2>
            </div>
            @using (Html.BeginForm("Questions", "Snap", FormMethod.Post))
            {
                <div class="m-4">
                    <label for="bplace">What is your birth place?</label>
                    @Html.EditorFor(model => model.SecurityQuestion1, new { htmlAttributes = new { @class = "form-control form-control-md mt-3" } })
                    @Html.ValidationMessageFor(model => model.SecurityQuestion1, "", new { @class = "text-danger" })
                </div>
                <div class="m-4">
                    <label for="bplace">What is your pet name?</label>
                    @Html.EditorFor(model => model.SecurityQuestion2, new { htmlAttributes = new { @class = "form-control form-control-md mt-3 " } })
                    @Html.ValidationMessageFor(model => model.SecurityQuestion2, "", new { @class = "text-danger" })
                </div>
                <div class="m-4">
                    <label for="bplace">What is your Favourite food?</label>
                    @Html.EditorFor(model => model.SecurityQuestion3, new { htmlAttributes = new { @class = "form-control form-control-md mt-3 " } })
                    @Html.ValidationMessageFor(model => model.SecurityQuestion3, "", new { @class = "text-danger" })
                </div>
                <div class="d-flex flex-row-reverse">
                    <div class="text-center">
                        <button class="btn btn-primary mx-5 mt-3">SUBMIT</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
